@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    /*height: 100vh;*/
    box-sizing: border-box;
    background-color: #17252A;
    color: #F6F6F6;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color:#F76c6c;
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
} 

.titulo-destaque{
    color: #F76c6c;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__texto__cv {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}


.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: #F76c6c;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    /*background-color: #F76c6c;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 320px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 2px solid #F76c6c;
}

.apresentacao__links__link:hover {
    background-color: #F76c6c;
}

.apresentacao__foto {
    border-radius: 16px;
    border: #F76c6c50 2px solid;
}
.rodape {
    color: #17252A;
    background-color: #F76c6c;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}